.heading
  h2 Leica M6
  hr
  h2 by Graham Plata

.leica
  .top
  .bottom
  .opening
  .camera
  //.winder
    .accent
  .dot
    .letters
  .dial
  .shutter
  .release
  .meter
  .viewfinder
  .leftlug
  .rightlug
  .lens
    .inner
    .outter
    .middle
  .focus
  .label
  .lens